params {
    tools {
        tangram {
		// full file path to single RNA reference (mandatory parameter)
            	container = 'tangram:latest.sif'
	    	off = 'h5ad'
		// name of cell type annotation used for mapping
	    	annotation = 'cell.type'
		// change to 'all' for MERFISH-like data
		gene_selection_method = 'marker_genes'
		number_genes = 100
		qvalue = 0.01
		mapping_mode = 'cells'
		// change to false if data of scRNAseq is not log-transformed
		exp_scrnaseq = true
		// change to false if spatial data is not log-transformed
		exp_spatial = true
		// e.g. '0' for 'cuda: 0' change to 'cpu' for using CPU
		device = '0'
        }
    }
    data {
        reference_h5ad {
        file_paths = ''
	 suffix = '.h5ad'
        }
    }
}
