params {
    tools {
        tangram {		
            	container = 'tangram:latest.sif'
	    	off = 'h5ad'
		// name of cell type annotation used for mapping
	    	annotation = 'cell.type'
		// change to 'all' for MERFISH-like data
		gene_selection_method = 'marker_genes'
		number_genes = 100
		qvalue = 0.01
		mapping_mode = 'cells'
		// change to true if data of scRNAseq is log-transformed
		exp_scrnaseq = false
		// change to true if spatial data will be log-transformed
		exp_spatial = false
		// change to true to project gene expression of single cell reference data
		project_gex = false
		// e.g. '0' for 'cuda: 0' change to 'cpu' for using CPU
		device = '0'
        }
    }
    data {
    	 // file path to spatial data change to 'spaceranger_visium' for 10X Visium data 
    	spatial_csv = './*/outs'
	// file path to single RNA reference
        reference_data {
            file_paths = ''
            suffix = ''
        }
    }
}
