workDir = "./work"
params {
        data {
                iss=true
                dataDir="/absolute/path/to/data/folder/"

                DAPI = "/absolute/path/to/dapi/image"
                reference = "/absolute/path/to/reference/image" 
                codebook = "/absolute/path/to/codebook.csv"

                round_prefix = "Round"
                channel_prefix="c"
                extension = "tif"

                nr_rounds=5
                nr_channels=4

                // Tiling
                target_tile_x=2000
                target_tile_y=2000

        }

        utils {
                // Switches that control certain intermediate steps
                stitch = true // Whether to stitch back after each process to see the bigger picture.
                plot = true // Whether to plot auxillary images such as decoded/detected spots per tile, segmented cells per tile etc.

        }

        tools {
                IST_processing {

                //////////////////////////
                // Pipeline parameters //
                /////////////////////////
                
                        // Quality Control
                        spot_detectionQC=false
                        pixel_distance = 3

                        
                        // Normalization
                        clip_percentile = 80

                        // White tophat filter:
                        filter_radius=3

                        // Spot detection:
                        min_sigma = 1
                        max_sigma = 3

                        // Downstream analysis
                        find_clusters_resolution=0.2
                }
        }
}
process {
        container = 'woutdavid/ist_processing:0.1.0'
}
