params {
    data {
        spatial_csv = ''
    }
    sc {
        file_converter {
             iff = 'spatial_csv'
        }
        scanpy {
            feature_selection {
                subsetHvg = false
            }
            dim_reduction {
                pca {
                    useHvg = false
                }
            }
            filter {
                cellFilterMinNGenes = 10
            }
       }
     }
}
